body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.beranda{
    background: url(image/day.jpg) no-repeat;
    background-size: cover;
    padding: 30px;
    position: relative;
    position: relative;


}

.box{
 
    width: 350px;
    background: rgba(0, 0, 0, 0.65);
    padding: 40px;
    text-align: center;
    margin: auto;;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.box-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.box-img:hover{
    content: url(./image/fredypicture.png);
}

.box h1{
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    
    font-size: 15px;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.kodfun-galeri{
    display: flex;
    height: 10rem;
    gap: 1rem;

    
    padding: 40px;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.kodfun-galeri > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.kodfun-galeri > div:hover{
    flex: 5;
}